<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="page.css">
</head>
<body>
<div class="mainSection">
    <h1><img th:src="@{/images/bookIcon.png}" width="50" height="50"/>&nbsp;Book Api</h1>
    <br>
    <br>
    <br>
    <form th:action="@{/}" th:object="${user}" method="post">
        Username: <input type="text" id="username" name="username" th:field="*{username}" required>
        <br>
        Password: <input type="text" id="password" name="password" th:field="*{password}" required>
        <br>
        <input type="submit" value="Log in">
    </form>
    <br>
    <p th:if="${error}" th:text="${error}"></p>
    <br>
    <button type="button" th:onclick="|window.location.href='/register'|">Register</button>
</div>
<footer>
    <a target="_blank" href="https://icons8.com/icon/37917/open-book">Book</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</footer>
</body>
</html>